.wrapper {
  width: 90%;
  height: 100%;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  margin: 50px auto;
}
.text {
  font-size: 8rem !important;
  width: 90%;

  font-weight: 600;
  color: #fff;
  font-size: 25px !important;
}

.banner_bg {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  background-image: url(../Home/assets/wedding-6154519.jpg);
  background-size: cover;
  width: 100%;
  height: 130vh;
  align-self: center;
  text-align: center;
  border-bottom: 5px solid rgb(192, 188, 188);
  filter: blur(3px);
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;

  gap: 20px;
  padding: 25px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
  width: 100%;
}
.item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}
.one {
  margin: 100px auto;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  border: 2px solid white;
  gap: 20px;
  padding: 20px;
  width: 90%;
  z-index: -1;
  background-color: rgb(202, 202, 253);
}

.homePage_img {
  border: 2px solid black;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-menu {
    display: block;
  }
}

.button30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;

  box-sizing: border-box;
  color: #e6e6e9;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  margin-top: 40%;

  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 25px;
  font-weight: 600;
  background-color: hsla(120, 1%, 17%, 0.3);
}

.button30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: white;
  color: var(--primary);
  font-weight: 500;
}

.button30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.text {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);

  color: #fcfcfd;
  font-size: 20px;
  text-align: center;
}

.Detail_description {
  width: 90%;
  display: flex;
  min-height: fit-content;
  margin: auto;
  margin-top: 20px;
  height: fit-content;
  /* background-color: var(--primary); */
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  border: 5px solid rgb(192, 188, 188);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
}
.heading {
  margin: auto;
  width: 90%;
  font-size: 18px;
  text-align: center;
  margin-top: "50px";
}
.icon {
  width: auto;
  font-size: 40px;
  padding: 5px;
  margin: auto;
  text-align: center;
  margin-left: 50px;
  height: 55px;
}
.cardDetail {
  display: grid;

  grid-auto-rows: auto;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.2s;
  cursor: pointer;
}
.cardDetail:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.itemCard {
  display: block;

  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  cursor: pointer;
}

.itemCard:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.bgBanner {
  background-image: url("./assets/ban3.jpg");
  filter: blur(0.5px);

  background-size: cover;
  height: 300px;
  width: 95%;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  /* border: 5px solid var(--primary); */

  /* opacity: 0.75; */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

.bg_text {
  color: white;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .banner_bg {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

    align-self: center;
    text-align: center;
  }
  .Detail_description {
    display: flex;
  }
  .cardDetail {
    display: grid;

    width: 180px;
  }
  .text {
    margin-top: 0;
    color: #fcfcfd;
    font-size: 10px;
    text-align: center;
  }
  .button30 {
    display: none;
  }
}

@media screen and (max-width: 1043px) {
  .banner_bg {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Detail_description {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cardDetail {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .banner_bg {
    display: flex;
    width: 100%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90vh;
  }
  .Detail_description {
    display: flex;
    flex-wrap: wrap;
  }
  .cardDetail {
    display: flex;
    gap: 20px;
    width: 260px;
  }
  .text {
    position: absolute;
    margin-top: none !important;

    color: #fcfcfd;
    font-size: 15px;
    text-align: center;
  }
  .button30 {
    margin-top: 20%;
  }
}

@media screen and (max-width: 480px) {
  .banner_bg {
    background-size: initial;

    width: 480px;
    height: auto;
  }
  .Detail_description {
    display: flex;
  }
  .cardDetail {
    display: flex;

    width: fit-content;
    height: 150px;
  }
  .bgBanner {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .text {
    display: none;
  }
}
